body {
    font-family: 'Open Sans', sans-serif;
    position: relative;

}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color:unset;
}
.custom_navbar {
    border-radius: 0;
    background-color: #343a40;
    margin-bottom: 0%;
}
.navbar-inverse .navbar-brand {
    color: white;
    letter-spacing: 3px;
}




.home_container {
    padding-top: 10%;
    padding-bottom: 15%;
    color: white;
    background-color: rgba(20, 20, 20, 0.8);
}
.bg_img {
    background-image: url(images/home.jpg);
    background-position: center;
    background-size: initial;
    background-repeat: no-repeat;

}

.home_container h1 {
    margin-top: 0;
}
.bold {
    font-weight: 600;
}
.red_letters {
    color: red;
}
.home_container p {
    line-height: 2rem;
    width: 90%;
}


.btn span.glyphicon {    			
    opacity: 0;	
}
.btn.active span.glyphicon {				
    opacity: 1;
    font-size: 2rem;
}
.glyphicon_blue {
    color: royalblue;
}
.custom_checkbox {
    padding: 2px;
    margin-right: 20px;
    border: 1px solid white;
    border-radius: 3px;
    width: 30px;
    height: 30px;
}
.white_btn {
    background-color: white;
}
.btn-group>.btn:first-child {
    margin-left: 20px;
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-radius: 3px;
}


.form_bg_color {
background-color:#4900d5;
}
.sign_up_form {
    padding: 20px 10px;
}
.form_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.sign_up_form .btn-default {
    color: inherit;
}
.sign_up_form .btn-default:hover {
    color: #4900d5 ;
}


.gray_bg_color {
    background-color: #393939;
    color: white;
}
.header {
    color: white;
    text-align: center;
    padding: 30px;
}
.header .btn {
    background-color:inherit;
    color: white;
}
.gray_btn:hover {
    background-color: white;
    color: #393939;
}
.header p {
    margin: 15px 0;
    padding: 0 30px;
    line-height: 2rem;
}

.container_img {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container_text {
    padding: 120px 0;
}

.dark_btn {
    background-color: #393939;
}
.glyphicon_white {
    color: white;
}
.container_text .btn-group>.btn:first-child {
    margin-left: 40px;
}


.violet_bg_color {
    background-color:#4900d5 ;
}

.violet_btn:hover {
    background-color: white;
    color: #4900d5;
}

.left_side_text .top_paragraph {
    width: 95%;
}
.left_side_text .bottom_paragraph {
    width: 100%;
    margin-top: 20px;
}

.img-responsive {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}





@media only screen and (max-width: 992px) {

    .sign_up_form {
        margin-top: 250px;
        margin-bottom: 100px;
    }
    .container_text {
        padding: 0 30px 30px 30px;
    }
}




